<div id="contact-form" class="widget">
    <h2>Concat Us!!!</h2>

    <form>
        <input
            type="text"
            placeholder="Title"
            required
        />
        <label>Title</label>

        <input
            type="email"
            placeholder="Email"
            required
        />
        <label>Email</label>

        <textarea
                class="area"
                placeholder="Text Message"
                required
        ></textarea>

        <input type="submit" value="Send" />
    </form>
</div>
