<div id="search" class="widget">
    <h2>Search</h2>

    <form [formGroup]="searchForm" (ngSubmit)="sendSearchParams(searchForm.value)">
        <div class="form-group">
            <input type="text" placeholder="Search" formControlName="search" required />
            <p *ngIf="showInputHint">Title must be between 3 and 30 characters!</p>
        </div>

        <div class="form-group">
            <input type="radio" value="Blog" formControlName="paremType" />
            <input type="radio" value="Post" formControlName="paremType" />
            <input type="radio" value="Tag"  formControlName="paremType" />
        </div>

        <div class="form-group">
            <input type="submit" value="Submit" />
        </div>
    </form>
</div>
