<!DOCTYPE html>
<html>
    <head>
        <title>Error 404</title>

        <!--[if IE]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    </head>

    <body>
		<h1>Error 404 – Not Found!</h1>
    </body>
</html>
