<!DOCTYPE html>
<html>
    <head>
        <title>Blog Page</title>
		<link href="style.css" rel="stylesheet" media="screen" />

        <!--[if IE]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    </head>

    <body>
		<% include header.ejs %>
		<% include logout.ejs %>

		<aside>
			<ul>
				<li><a href="/blog">Blog</a></li>
			</ul>
		</aside>
	</body>
</html>
