<!-- Start Login Widget -->
<span class="login__panel--icon"></span>

<div class="login__panel--form">
    <form>
        <input
            type="email"
            placeholder="Email"
            name="user_email"
            ng-model="usr.email"
            required
        />

        <input
            type="password"
            placeholder="Password"
            name="user_pass"
            ng-model="usr.pass"
            ng-minlength="5"
            ng-maxlength="20"
            required
        />

        <button type="submit" class="login__panel--submit"></button>

        <a href="#/register">Create account</a>
    </form>
</div>
<!-- End Login Widget -->
