<!-- Start Login Widget -->
<span class="login__panel--icon"></span>

<div class="login__panel--form">
    <form [formGroup]="loginForm" (ngSubmit)="authenticate(loginForm.value)">
        <div class="form-group">
            <input type="email" placeholder="Email" formControlName="username" required />
            <p *ngIf="showUsernameHint" class="help-block">That does not look like a proper username(Email address)</p>
        </div>

        <div class="form-group">
            <input type="password" placeholder="Password" formControlName="password" required />
            <p *ngIf="showPasswordHint">The entered password is incorrect</p>
        </div>

        <span class="login__panel-message" *ngIf="notValidCredentials">Your credentials are not valid!</span>

        <button type="submit" class="login__panel--submit" [disabled]="!loginForm.valid"></button>

        <a routerLink="#/register">Create account</a>
    </form>
</div>
<!-- End Login Widget -->
