<form [formGroup]="authorForm" (ngSubmit)="saveAuthor(authorForm.value)">
    <div class="form-group">
        <input type="text" placeholder="Your Name" formControlName="name" required />
        <p *ngIf="showNameHint">Username is invalid, must have between 2 and 30 letters!</p>
    </div>

    <div class="form-group">
        <input type="text" placeholder="Your Lastname" formControlName="lastname" required />
        <p *ngIf="showLastnameHint">Lastname is invalid, must have between 2 and 30 letters!</p>
    </div>

    <div class="form-group">
        <input type="text" placeholder="Your Nickname" formControlName="nickname" required />
        <p *ngIf="showNicknameHint">Nickname is invalid, must have between 2 and 30 letters!</p>
    </div>

    <div class="form-group">
        <input type="text" placeholder="Phone example: +381651001001" formControlName="phone" required />
        <p *ngIf="showPhoneHint">The phone must have the specified format!</p>
    </div>

    <div class="form-group">
        <select #selectCountry (change)="setNewCountry(selectCountry.value)" formControlName="country" required>
            <option *ngFor="let item of countries$" [attr.selected]="item.name == 'Serbia' ? true : null" [attr.value]="item.label">{{ item.name }}</option>
        </select>

        <p *ngIf="showCountryHint">You need to choose a country from the list!</p>
    </div>

    <div class="form-group">
        <input type="email" placeholder="Your Email" formControlName="email" required />
        <p *ngIf="showEmailHint">The email must be in an email format!</p>
    </div>

    <div class="form-group">
        <input type="password" placeholder="Your Password" formControlName="password" required />
        <p *ngIf="showPasswordlHint">Password is invalid, Password must have at least 7 characters!</p>
    </div>

    <p *ngIf="!errorDisplay">{{ errorMsg }}</p>

    <button type="submit" class="register__page--submit btn-medium">Register Author</button>
</form>
