<!-- Start Wrapper -->
<div id="wrapper" class="home__page">
	<!-- Start Page -->
	<div class="page">
		<!-- Start Main Aside -->
		<aside>
			<!-- Start Header -->
			<main-header></main-header>
			<!-- End Header -->
		</aside>
		<!-- End Main Aside -->

		<div class="home-content">
			<div class="home-title">
				<h2>Flexible technology solutions, <br /> <span>whenever you prefer results rather than excuses</span></h2>
			</div>

			<div class="home-links">
				<a href="">HTML & CSS</a>
				<a href="">JQUERY</a>
				<a href="">ANGULAR</a>
			</div>
		</div>

	</div>
	<!-- End Page -->

	<!-- Start Login -->
	<login-widget></login-widget>
	<!-- End Login -->
</div>
<!-- End Wrapper -->
