<!-- Start Wrapper -->
<div id="wrapper" class="home__page">
	<!-- Start Page -->
	<div class="page">
		<!-- Start Main Aside -->
		<aside>
			<!-- Start Header -->
			<header main-header></header>
			<!-- End Header -->
		</aside>
		<!-- End Main Aside -->

		<div class="home__content">
			<div class="home__content--title">
				<h2>Flexible technology solutions, <br /> <span>whenever you prefer results rather than excuses</span></h2>
			</div>

			<div class="home__content--links">
				<a href="/">HTML & CSS</a>
				<a href="/">JQUERY</a>
				<a href="/">ANGULAR</a>
			</div>
		</div>

	</div>
	<!-- End Page -->

	<!-- Start Login -->
	<div class="login__panel" login-widget></div>
	<!-- End Login -->
</div>
<!-- End Wrapper -->
