<!-- Start Wrapper -->
<div id="wrapper">
	<!-- Start Page -->
	<div class="page">
		<!-- Start Aside -->
		<aside>
			<!-- Start Header -->
            <header app-main-header></header>
			<!-- End Header -->

			<!-- Start Sidebar -->
			<div app-main-sidebar-left></div>
			<!-- End Sidebar -->
		</aside>
		<!-- End Aside -->

		<!-- Start Main -->
		<main>
            <section>
                <h2>Login Page</h2>
                <div class="login__wrap" app-login-widget></div>
            </section>

			<!-- Start Footer -->
			<footer app-main-footer></footer>
			<!-- End Footer -->
		</main>
		<!-- End Main -->
	</div>
	<!-- End Page -->
</div>
<!-- End Wrapper -->
