<!-- Start Wrapper -->
<div id="wrapper">
	<!-- Start Page -->
	<div class="page">
		<!-- Start Aside -->
		<aside>
			<!-- Start Header -->
            <header app-main-header></header>
			<!-- End Header -->

			<!-- Start Sidebar -->
			<div app-main-sidebar-left [widgetsData]="widgets"></div>
			<!-- End Sidebar -->
		</aside>
		<!-- End Aside -->

		<!-- Start Main -->
		<main>
            <section class="one__article big__left">
                <h1>{{ title }}</h1>
            </section>

			<!-- Start Footer -->
			<footer app-main-footer></footer>
			<!-- End Footer -->
		</main>
		<!-- End Main -->
	</div>
	<!-- End Page -->

	<!-- Start Login -->
	<div class="login__panel" app-login-widget></div>
	<!-- End Login -->
</div>
<!-- End Wrapper -->
