<!-- Start Wrapper -->
<div id="wrapper">
	<!-- Start Page -->
	<div class="page">
		<!-- Start Aside -->
		<aside>
			<!-- Start Header -->
            <header main-header></header>
			<!-- End Header -->

			<!-- Start Sidebar -->
			<div main-sidebar-left></div>
			<!-- End Sidebar -->
		</aside>
		<!-- End Aside -->

		<!-- Start Main -->
		<main>
            <section class="one__article big__left">
                <h1>{{ title }}</h1>
            </section>

			<!-- Start Footer -->
			<footer main-footer></footer>
			<!-- End Footer -->
		</main>
		<!-- End Main -->
	</div>
	<!-- End Page -->

	<!-- Start Login -->
	<div class="login__panel" login-widget></div>
	<!-- End Login -->
</div>
<!-- End Wrapper -->
