<!-- Start Wrapper -->
<div id="wrapper">
	<!-- Start Page -->
	<div class="page">
		<!-- Start Aside -->
		<aside>
			<!-- Start Header -->
            <header app-main-header></header>
			<!-- End Header -->

			<!-- Start Sidebar -->
			<div app-main-sidebar-left></div>
			<!-- End Sidebar -->
		</aside>
		<!-- End Aside -->

		<!-- Start Main -->
		<main>
            <!-- Start Register Page -->
            <section class="register__page">
                <h2>Register Page</h2>

                <div class="register__page--content">
                    <div>
                        <h3>Register Account</h3>

                        <form [formGroup]="authorForm" (ngSubmit)="saveAuthor(authorForm.value)">
                            <div class="form-group">
                                <input type="text" placeholder="Your Name" formControlName="name" required />
                                <p *ngIf="authorForm.controls['name'].valid && authorForm.controls['name'].touched">Well done! That's a good name!</p>
                            </div>

                            <div class="form-group">
                                <input type="text" placeholder="Your Lastname" formControlName="lastname" required />
                            </div>

                            <div class="form-group">
                                <input type="text" placeholder="Your Nickname" formControlName="nickname" required />
                            </div>

                            <div class="form-group">
                                <input type="email" placeholder="Your Email" formControlName="email" required />
                            </div>

                            <div class="form-group">
                                <input type="password" placeholder="Your Password" formControlName="password" required />
                            </div>

                            <p *ngIf="!errorDisplay">{{ errorMsg }}</p>

                            <button type="submit" class="register__page--submit btn-medium">Register Author</button>
                        </form>
                    </div>

                    <div>
                        <h3>Lorem Ipsum is simply dummy text</h3>

                        <p>
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.

                            <br />
                            <br />

                            It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                        </p>
                    </div>
                </div>
            </section>
                <!-- End Register Page -->

			<!-- Start Footer -->
			<footer app-main-footer></footer>
			<!-- End Footer -->
		</main>
		<!-- End Main -->
	</div>
	<!-- End Page -->
</div>
<!-- End Wrapper -->
