<!-- Start Wrapper -->
<div id="wrapper">
	<!-- Start Page -->
	<div class="page">
		<!-- Start Aside -->
		<aside>
			<!-- Start Header -->
            <header main-header></header>
			<!-- End Header -->

			<!-- Start Sidebar -->
			<div main-sidebar-left></div>
			<!-- End Sidebar -->
		</aside>
		<!-- End Aside -->

		<!-- Start Main -->
		<main>
            <section class="one__article big__left">
                <!-- Start Register Page -->
                <div class="register__page">
                    <h2>Register Page</h2>

                    <form [formGroup]="authorForm" (ngSubmit)="saveAuthor(authorForm.value)">
                        <div class="form-group">
                            <input type="text" placeholder="name" formControlName="name" required />
                        </div>

                        <div class="form-group">
                            <input type="text" placeholder="lastname" formControlName="lastname" required />
                        </div>

                        <div class="form-group">
                            <input type="text" placeholder="nickname" formControlName="nickname" required />
                        </div>

                        <div class="form-group">
                            <input type="email" placeholder="email" formControlName="email" required />
                        </div>

                        <div class="form-group">
                            <input type="password" placeholder="password" formControlName="password" required />
                        </div>

                        <button type="submit" class="register__page--submit">Register Author</button>
                    </form>
                </div>
                <!-- End Register Page -->
            </section>

			<!-- Start Footer -->
			<footer main-footer></footer>
			<!-- End Footer -->
		</main>
		<!-- End Main -->
	</div>
	<!-- End Page -->
</div>
<!-- End Wrapper -->
