<!-- Start Wrapper -->
<div id="wrapper">
	<!-- Start Page -->
	<div class="page">
		<!-- Start Aside -->
		<aside>
			<!-- Start Header -->
            <header main-header></header>
			<!-- End Header -->

			<!-- Start Sidebar -->
			<div main-sidebar-left></div>
			<!-- End Sidebar -->
		</aside>
		<!-- End Aside -->

		<!-- Start Main -->
		<main>
			<section class="one__article big__left">
				<h2>Blog</h2>

				<article *ngFor="let item of postList; let i = index">
					<div class="blog__box">
						<figure>
							<span>{{ item.created | dateMonth }}<i>{{ item.created | dateYear }}</i></span>
						</figure>

                        <div>
                            <h3><a [routerLink]="['/blog/post/' + item._id]">{{ item.title }}</a></h3>
                            <ul>
                                <li><span>By:</span> {{ item.author }}</li>
                                <li><a [routerLink]="['/blog/post/' + item._id]"><span>Category:</span> {{ item.blog_category }}</a></li>
                                <li><span>Comment:</span> {{ item.comment_sum }}</li>
                                <li><a [routerLink]="['/blog/post/' +item.tags_id]"><span>Tags:</span> {{ item.tags }}</a></li>
                            </ul>
                        </div>
					</div>

					<figure class="wid-45 shadow" *ngIf="item.thumb_stats == 1">
						<div class="overlay__top">
							<img src="/images/{{ item.thumb }}" alt="Hands" />
							<div class="overlay__panel">
								<a class="zoom__img" href="/"></a>
								<a class="read__more" [routerLink]="['/blog/post/' + item._id]"></a>
							</div>
						</div>
					</figure>

					<div class="text__box">
						<p>{{ item.summary }}</p>
						<a [routerLink]="['/blog/post/' + item._id]" class="btn-medium">Read More</a>
					</div>
				</article>
			</section>

			<!-- Start Footer -->
			<footer main-footer></footer>
			<!-- End Footer -->
		</main>
		<!-- End Main -->
	</div>
	<!-- End Page -->

	<!-- Start Login -->
	<div class="login__panel" login-widget></div>
	<!-- End Login -->
</div>
<!-- End Wrapper -->

