<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>

        <!--[if IE]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    </head>

    <body>
		<h1>Dobrodosi na <%= title %>!</h1>
    </body>
</html>
