<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <strong class="navbar-brand">My Pomodoro App</strong>
        </div>

        <ul class="nav navbar-nav navbar-right">
            <li routerLinkActive="active"><a [routerLink]="['/task']">Tasks</a></li>
            <li routerLinkActive="active"><a [routerLink]="['/timer']">Timer</a></li>
            <li routerLinkActive="active"><a [routerLink]="['/tasks/editor']">Publish Task</a></li>
            <li routerLinkActive="active"><a [routerLink]="['/task/1']">Task 1</a></li>
        </ul>
    </div>
</nav>

<router-outlet></router-outlet>
